p {
    color: red;
    size: 5px;
    background-color: pink;  /* by name */
    background-color: rgb(000, 255, 000);  /* by rgb */
    background-color: #468ee0;  /* by hexa */
    background-image: url("../img/activa-6g-right-front-three-quarter.webp");
    width: 100%;
    height: 200px;
    /* background-repeat: no-repeat; */
    /* background-repeat: repeat-y; */
    background-repeat: repeat-x;
}