div {
    width: 400px;
    background-color: rgb(201, 207, 212);
    margin: 30px;
    padding: 20px;
    outline: rgb(201, 207, 212) solid 20px;
}

.assignment-1 {
    border-left: 8px solid rgb(180, 6, 6);
}

.assignment-2 {
    visibility: hidden;
}

.assignment-3 {
    border-left: 8px solid rgb(2, 112, 2);
}