.parent {
    width: 600px;
    height: 300px;
    background-color: #ccc;
    display: flex;
    padding: 10px;
    justify-content: space-between;
}

div {
    width: 100px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    color: white;
}


.one{
    order: 2;
    background-color: orange;
}

.two{
    order: 3;
    background-color: greenyellow;
    align-self: flex-end;
}

.three{
    order: 4;
    background-color: brown;
}

.four {
    background-color: rgb(40, 44, 100);
    order: 0;
    align-self: flex-end;
}
