div {
    background-color: grey;
    padding: 10px;
    width: 400px;
    margin: 10px;
}

.two {
    text-overflow: clip;
    overflow: hidden;
    white-space: nowrap;
}

.three {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
