div {
    height: 400px;
    width: 400px;
    background-image: url("css-assignment-5-8.png");
}

.assign-3-shape-2{
    background-repeat: repeat-y;
    background-position: right;
}

.assign-3-shape-3{
    background-repeat: repeat-x;
    background-position: bottom;
}