body {
    background-color: #464444;
}

p {
    background-color: #ccc;
    padding: 10px;
    position: relative;
    width: fit-content;
    margin: 10px auto;
    border-right: 2px solid #f0667d;
    counter-increment: memebers-counter;
    padding-left: 40px;
}

p::before {
    content: counter(memebers-counter);
    background-color: #f0667d;
    color: white;
    padding: 10.1px;
    position: absolute;
    left: 0;
    top: 0;
}